@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap'); 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#card-container {
    display: flex;
    justify-content: space-around;
    background-color: #EBEBD3;  
}

.card {
    background-color: #F95738;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    font-family: "Momo Trust Sans", sans-serif;
    color: antiquewhite;
    font-size: 25px;
}

.card img {
    width: 400px;
    height: 300px;
}

.card button {
    width: 100%;
    padding: 5px;
    border-radius: 0 0 20px 20px; 
    font-family: "Momo Trust Sans", sans-serif;
}
